@import "tailwindcss";
@import "@heroui/styles";

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(80.99% 0.2142 151.77);
  --accent-foreground: oklch(15% 0.0300 151.77);
  --background: oklch(97.02% 0.0023 151.77);
  --border: oklch(90.00% 0.0023 151.77);
  --danger: oklch(65.32% 0.2339 13.49);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94.00% 0.0023 151.77);
  --default-foreground: oklch(21.03% 0.0059 151.77);
  --field-background: oklch(100.00% 0.0011 151.77);
  --field-foreground: oklch(21.03% 0.0023 151.77);
  --field-placeholder: oklch(55.17% 0.0046 151.77);
  --focus: oklch(80.99% 0.2142 151.77);
  --foreground: oklch(21.03% 0.0023 151.77);
  --muted: oklch(55.17% 0.0046 151.77);
  --overlay: oklch(100.00% 0.0007 151.77);
  --overlay-foreground: oklch(21.03% 0.0023 151.77);
  --scrollbar: oklch(87.10% 0.0023 151.77);
  --segment: oklch(100.00% 0.0023 151.77);
  --segment-foreground: oklch(21.03% 0.0023 151.77);
  --separator: oklch(92.00% 0.0023 151.77);
  --success: oklch(73.29% 0.1944 138.56);
  --success-foreground: oklch(21.03% 0.0059 138.56);
  --surface: oklch(100.00% 0.0011 151.77);
  --surface-foreground: oklch(21.03% 0.0023 151.77);
  --surface-secondary: oklch(95.24% 0.0018 151.77);
  --surface-secondary-foreground: oklch(21.03% 0.0023 151.77);
  --surface-tertiary: oklch(93.73% 0.0018 151.77);
  --surface-tertiary-foreground: oklch(21.03% 0.0023 151.77);
  --warning: oklch(78.19% 0.1592 60.08);
  --warning-foreground: oklch(21.03% 0.0059 60.08);

  /* Border Radius */
  --radius: 0.25rem;
  --field-radius: 0.25rem;

  /* Font Family */
  /* Make sure to load Geist font in your app */
  --font-sans: var(--font-geist);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(80.99% 0.2142 151.77);
  --accent-foreground: oklch(15% 0.0300 151.77);
  --background: oklch(12.00% 0.0023 151.77);
  --border: oklch(28.00% 0.0023 151.77);
  --danger: oklch(59.40% 0.1976 12.38);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.40% 0.0023 151.77);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0046 151.77);
  --field-foreground: oklch(99.11% 0.0023 151.77);
  --field-placeholder: oklch(70.50% 0.0046 151.77);
  --focus: oklch(80.99% 0.2142 151.77);
  --foreground: oklch(99.11% 0.0023 151.77);
  --muted: oklch(70.50% 0.0046 151.77);
  --overlay: oklch(21.03% 0.0046 151.77);
  --overlay-foreground: oklch(99.11% 0.0023 151.77);
  --scrollbar: oklch(70.50% 0.0023 151.77);
  --segment: oklch(39.64% 0.0023 151.77);
  --segment-foreground: oklch(99.11% 0.0023 151.77);
  --separator: oklch(25.00% 0.0023 151.77);
  --success: oklch(73.29% 0.1944 138.56);
  --success-foreground: oklch(21.03% 0.0059 138.56);
  --surface: oklch(21.03% 0.0046 151.77);
  --surface-foreground: oklch(99.11% 0.0023 151.77);
  --surface-secondary: oklch(25.70% 0.0034 151.77);
  --surface-secondary-foreground: oklch(99.11% 0.0023 151.77);
  --surface-tertiary: oklch(27.21% 0.0034 151.77);
  --surface-tertiary-foreground: oklch(99.11% 0.0023 151.77);
  --warning: oklch(82.03% 0.1394 64.09);
  --warning-foreground: oklch(21.03% 0.0059 64.09);
}